# Désactive une vieille fonctionnalité d’Apache (le content negotiation)
Options -MultiViews
RewriteEngine On
RewriteBase /

# Laisse passer les vrais fichiers (CSS, JS, images…)
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# /chemin -> /chemin/index.html
RewriteCond %{DOCUMENT_ROOT}/$1/index.html -f
RewriteRule ^(.+?)/?$ $1/index.html [L]

# /chemin -> /chemin.html (fallback)
RewriteCond %{DOCUMENT_ROOT}/$1.html -f
RewriteRule ^(.+?)/?$ $1.html [L]

# Sinon affiche la 404
RewriteRule . /404.html [L]
